.Locations_wrap {
  display: flex;
}
.Locations_item {
  flex: 1 1 0px;
  text-align: center;
}
.Locations_paragraph {
  text-align: center;
}
.Locations_paragraph:not(:first-child) {
  padding-top: 2rem;
}